.add-field {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
}


 .add-field input{
    display: flex;
    font-size: 16px;
    padding: 10px 0px 10px 10px;
    width: 60%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.616);
}

.add-field button {
    border: 1px solid rgba(0, 0, 0, 0.616);
    width: 30px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

.add-field button:hover {
    background-color: tomato;
}

